[submodule "SpotStack"]
	path = SpotStack
	url = https://github.com/BenTzuHsien/SpotStack.git
[submodule "Object_Centric_Local_Navigation"]
	path = Object_Centric_Local_Navigation
	url = https://github.com/BenTzuHsien/Object_Centric_Local_Navigation.git
